<app-navbar></app-navbar>
<br>
<br>
<form [formGroup]="registerForm" (ngSubmit)="editEvent()">
        <mat-card class="example-card" style=" max-height: 750px;overflow-y: auto;" [class.mat-elevation-z8]=true>

          <mat-hint style="color: black"><b>Nombre</b></mat-hint>
            <br><br>
            <mat-card-content><input formControlName="first_name"  style="background: transparent" value="{{first_name}}" matInput></mat-card-content>
               <mat-hint style="color: black"><b>Genero</b></mat-hint><br><br>
            <mat-card-subtitle style="color: black"><input formControlName="sex"  style="background: transparent" value="{{sex}}" matInput></mat-card-subtitle>

            <label class="form-control-label px-3">Fecha de nacimiento</label>
<mat-card-subtitle  style="color: black"><input style="background: transparent" formControlName="birth_date"  matInput [matDatepicker]="picker">
                           <mat-datepicker-toggle style="color: #f75959;visibility: visible" matSuffix
                                                  [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker style="color: #f75959"></mat-datepicker><br></mat-card-subtitle>

  <mat-label><b>Descripcion</b></mat-label><br><br>




          <mat-card-content>
            <p>

  <textarea formControlName="description" placeholder="Descripcion" value="{{description}}" style="width: 100%;background: transparent" matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"></textarea>

            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Guardar</button>
          </mat-card-actions>
          </mat-card>

</form>


