<app-navbar></app-navbar>

<br>
<br>
<swiper [slidesPerView]="1" (slideChange)="onSwiper($event)" [spaceBetween]="30" [pagination]="{clickable: true}"
        class="mySwiper">

  <ng-template swiperSlide *ngFor="let evento of eventos, let i=index;">

    <mat-card class="example-card" style="max-height: 750px;overflow-y: auto;" [class.mat-elevation-z8]=true>
      <br>
      <mat-card-header>

        <mat-card-title>{{evento.usuario.first_name}}</mat-card-title>

      </mat-card-header>
      <br>

      <mat-card class="example-card" [class.mat-elevation-z8]=true>
        <img mat-card-image
             src="https://go-together-backend.herokuapp.com{{evento.evento.image}}"
             alt="Photo of a Shiba Inu">

      </mat-card>
      <mat-card-content>
        <br>
        <br>
        <mat-grid-list cols="2" rowHeight="3:1">
          <mat-grid-tile>
            <mat-icon>calendar_today</mat-icon>
            <mat-label> &nbsp;{{evento.evento.event_date}}</mat-label>
            <br><br></mat-grid-tile>
          <mat-grid-tile>
            <mat-icon>access_time</mat-icon>
            <mat-label> &nbsp;{{evento.evento.event_hour}}</mat-label>
            <br><br></mat-grid-tile>
        </mat-grid-list>
        <mat-label><b>Descripcion</b></mat-label>
        <br><br>
        <p>
          {{evento.evento.description}}
        </p>
      </mat-card-content>
      <mat-card-actions style="text-align: center;">
        <button mat-button style="    border: 1px solid #ff572296!important;">Postularse</button>
      </mat-card-actions>
      <mat-divider style="border-top-color:
      darksalmon;"></mat-divider>
      <br>
        <mat-card-content>
          <p>
            {{evento.usuario.description}}
          </p>
        </mat-card-content>


      <mat-card class="example-card" *ngFor="let foto of evento.images, let i=index;" [class.mat-elevation-z8]=true>
        <img mat-card-image src="https://go-together-backend.herokuapp.com{{foto.image}}"
             alt="Photo of a Shiba Inu">

      </mat-card>

    </mat-card>

  </ng-template>
</swiper>

