<app-navbar></app-navbar>

<br>
<br>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <!-- Page header end -->
  <mat-card class="example-card" style="max-height: 750px;overflow-y: auto;" [class.mat-elevation-z8]=true>
    <ul class="users">
      <li style="border-bottom: 3px solid silver;" class="person" data-chat="person1">
        <div class="user">
        </div>
        <p class="name-time">
          <span class="name">INVITACIONES</span>
        </p>
      </li>
      <li class="person" data-chat="person1" >
        <div class="user">
          <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="Retail Admin">
          <span class="status busy"></span>
        </div>
        <p class="name-time">
          <span class="name">Steve Bangalter</span>
          <span class="time" style="padding-left: 25px">15/02/2019</span>
        </p>
      </li>
      <li class="person" data-chat="person1">
        <div class="user">
          <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="Retail Admin">
          <span class="status busy"></span>
        </div>
        <p class="name-time">
          <span class="name">Steve Bangalter</span>
          <span class="time" style="padding-left: 25px">15/02/2019</span>
        </p>
      </li>
      <li class="person" data-chat="person1">
        <div class="user">
          <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="Retail Admin">
          <span class="status busy"></span>
        </div>
        <p class="name-time">
          <span class="name">Steve Bangalter</span>
          <span class="time" style="padding-left: 25px">15/02/2019</span>
        </p>
      </li>
      <li class="person" data-chat="person1">
        <div class="user">
          <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="Retail Admin">
          <span class="status busy"></span>
        </div>
        <p class="name-time">
          <span class="name">Steve Bangalter</span>
          <span class="time" style="padding-left: 25px">15/02/2019</span>
        </p>
      </li>

    </ul>

  </mat-card>
  <!-- Content wrapper start -->

  <!-- Content wrapper end -->

</div>
